#systemPanel {
  margin: 0;
  padding: 0;
}

#titleLabel {
    max-width: 150px;
    min-width: 150px;
}

#titleButton:pressed {
    background-color: black;
}

#titleWidget {
  background: #c62f2f;
  max-height: 50px;
  min-height: 50px;
}

#centralWidget {
  background: #fafafa; /* Window background color */
}
