#systemPanel {
  margin: 0;
  padding: 0;
}

#titleLabel {
    background-image: url(J:/logo.svg);
    background-repeat: none;
    background-attachment:fixed;
    background-position: left center;
    max-width: 150px;
    min-width: 150px;
    color: black;
}

#titleWidget {
  background: #c62f2f;
  max-height: 50px;
  min-height: 50px;
}

#centralWidget {
  background: #fafafa; /* Window background color */
}
